body{
  margin:0;
  padding:0;
  font-family: "Source Sans Pro",sans-serif;
  font-size: 20px;
  line-height: 1.5;
 overflow-y: auto;
 background-color: #ffffff;

}
h2{
text-align: center;
color: hsl(12, 71%, 47%);
}
header {
background-color:rgba(192, 129, 11, 0.877);
padding: 30px;
text-align: center;
font-size: 35px;
color: white;
font-size: 20px;
}

h1{
text-align: center;
background-color: white;
color:red;
margin-left: 300px;
margin-right: 200px;
}

nav {
   max-width:100%;
   margin: 0 auto;
   padding: 40px 0;
   margin-right: 0%;
   width:100%;
   text-align: center;
}
nav>ul>li{
    display:inline-block;
}
nav>ul>li>a{
  padding:30px;
  margin-right:0;
  text-transform:uppercase;
  text-decoration:none;
  display:block;
  color:rgba(224, 190, 77, 0.979);
  font-size: 50px;
}
nav>ul>li>a:hover{
  box-shadow:white;
  background-color:white;
}
.column {
	justify-content: center;
	float: left;
	width: 20%;
	padding: 30px;
	margin: solid-black;
  background-color: #ffffff;
  }
  .column1{
  justify-content: center;
	float: left;
	width: 900px;
	padding: 30px;
	margin: solid-black;
  background-color: #ffffff;
  }
.card { 
  padding: 30px; 
  background-color: white; 
  color: rgb(15, 13, 13); 

  } 
  section:after {
    content: "";
    display: table;
    clear: both;
    }
img{
  border-radius: 10px;
  margin-top: 8px;
  margin-left: 2px;
  margin-top: 2px;
  height: 1;
}
.main-container{
  min-height: 100%;

}


.main-footer{
  width: auto;
  height:auto;
  background-color:rgba(192, 129, 11, 0.877) ;
  padding: 20px;
}
   
.social-media ul{
  list-style: none;
  font-family: Arial;
  font-size:30px;
  color: white;
  margin-left: 50px;
  padding: 20px; 

}    

.social-media{
  font-family: Arial;
  font-size: 15px;
  color: white;
  margin-left: 10px;
  padding: 10px; 
  text-align: left;


}    
.copyright{
  font-size: 20px;
  text-align-last: center;
}